/*place global styles here */
html,
body {
	@apply h-full;
}

body {
	background-image: linear-gradient(
		120deg,
		rgba(var(--color-secondary-500) / 1),
		rgba(var(--color-primary-500) / 1)
	);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
